:root {
  --bg: oklch(96.83% 0.0069 247.9);
  --b1: oklch(from var(--bg) calc(l - 10) c h);
  --b2: oklch(from var(--bg) calc(l - 20) c h);
  --b3: oklch(from var(--bg) calc(l - 30) c h);
  --p: oklch(37.96% 0.1783 293.74);
  --pc: oklch(100% 0 0);
  --s: oklch(77.81% 0.1336 38.36);
}

html {
  background-color: var(--bg);
  font-family: sans-serif;
}

body {
  line-height: 1.5;
  margin: 0 auto;
  max-width: 80ch;
  padding: 1rem;
  width: 100%;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

/* nav styles */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--s);
}

.nav-links {
  background-color: var(--s);
  display: none;
  left: 48px;
  margin: 0;
  top: 5rem;
  width: 100%;
}

.nav-links a {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--s);
}

.expanded {
  display: unset;
}

@media screen and (width >= 636px) {
  .nav-links {
    background: none;
    display: block;
    margin-left: 5em;
    position: static;
    width: auto;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}
