:root {
  --bg: oklch(96.83% 0.0069 247.9);
  --b1: oklch(from var(--bg) calc(l - 10) c h);
  --b2: oklch(from var(--bg) calc(l - 20) c h);
  --b3: oklch(from var(--bg) calc(l - 30) c h);
  --p: oklch(37.96% 0.1783 293.74);
  --pc: oklch(100% 0 0);
  --s: oklch(77.81% 0.1336 38.36);
}

html {
  background-color: var(--bg);
  font-family: sans-serif;
}

body {
  line-height: 1.5;
  margin: 0 auto;
  max-width: 80ch;
  padding: 1rem;
  width: 100%;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
}
