---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "My Astro Site";
---

<BaseLayout {pageTitle}>
  <h2>My awesome blog subtitle</h2>
</BaseLayout>
