<div class="nav-links">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <a href="/tags/">Tags</a>
</div>

<style>
  .nav-links {
    background-color: var(--s);
    display: none;
    left: 48px;
    margin: 0;
    top: 5rem;
    width: 100%;
  }

  .nav-links a {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  .nav-links a:hover,
  .nav-links a:focus {
    background-color: var(--s);
  }

  .expanded {
    display: unset;
  }

  @media screen and (width >= 636px) {
    .nav-links {
      background: none;
      display: block;
      margin-left: 5em;
      position: static;
      width: auto;
    }

    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }
  }
</style>
