---
const { url, name } = Astro.props;
---

<a href={url}>{name}</a>

<style>
  a {
    background-color: var(--p);
    color: var(--pc);
    padding: 0.5rem 1rem;
    text-decoration: none;
  }
</style>
