---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<div class="tags">
  {
    tags.map((tag) => (
      <p class="tag">
        <a href={`/tags/${tag}`}>{tag}</a>
      </p>
    ))
  }
</div>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    background-color: var(--b1);
    border-radius: 0.5em;
    border: dotted 1px var(--b3);
    font-size: 1.15em;
    margin: 0.25em;
    padding: 0.5em 1em;
  }
</style>
